th {
    text-align: left;
    color: #424242;
    font-size: 20px;
    font-weight: 600;
}
td {
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: top;
}
table {
    border: 1px solid #d4d4d4;
}